.contact-dark-theme {
  color: $colorGrisClaro;
}

.contact-light-theme {
  color: $colorGrisOscuro;
}

.icons-container {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.textfield-content {
  width: 100%;
  margin: 10px;
}
.container-textfield-form {
  padding-bottom: 15px;
}

.link-icon {
  text-decoration: none;
}

.icon-dark-theme {
  width: 100px;
  padding: 10px;
  color: $colorGrisClaro;
}
.icon-dark-theme:hover {
  color: $colorGrisOscuro;
}

.button-dark-theme {
  width: 100px;

  color: $colorGrisClaro;
}

.button-dark-theme:hover {
  color: $colorGrisOscuro;
}

.icon-light-theme {
  width: 100px;
  padding: 10px;
  color: $colorGrisOscuro;
}
.icon-light-theme:hover {
  color: $colorAzul;
}

.button-light-theme {
  width: 100px;

  color: $colorGrisOscuro;
}

.button-light-theme:hover {
  color: $colorAzul;
}
