.link-dark-theme {
  color: $colorGrisClaro;
}
.link-light-theme {
  color: $colorGrisOscuro;
}

.link-dark-theme:hover {
  color: $colorGrisOscuro;
}
.link-light-theme:hover {
  color: $colorAzul;
}

.container-link {
  align-content: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
}

.button-dialog-footer {
}

.text-button-dialog-footer {
  font-weight: bolder;
}
